:root {
    --primary-color: #0A1128;
    --white-color: #fff;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6em;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5em;
}

h3 {
    font-size: 5em;
}

h4 {
    font-size: 4.5em;
}

h5 {
    font-size: 4em;
}

h6 {
    font-size: 3.5em;
}

.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}